
.App {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;

}

.countries {
  display: flex;
}

img {
  height: 10px;
  width: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.1fr 1.1fr;
  grid-template-rows: 1.2fr 1.1fr 1.1fr;
  gap: 0px 0px;
  grid-template-areas: "search- stats-wrap stats-wrap stats-wrap" "search- stats-wrap stats-wrap stats-wrap" "search- stats-wrap stats-wrap stats-wrap";
  height: 800px;
}

.search- {
  grid-area: search-;
  overflow-y: scroll;
}

.stats-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "total-cases new-cases total-recovered" "Critical new-deaths total-deaths" "active-cases cases-1m deaths-1m";
  grid-area: stats-wrap;
}

.total-cases {
  grid-area: total-cases;
}

.new-cases {
  grid-area: new-cases;
}

.total-recovered {
  grid-area: total-recovered;
}

.Critical {
  grid-area: Critical;
}

.new-deaths {
  grid-area: new-deaths;
}

.total-deaths {
  grid-area: total-deaths;
}

.active-cases {
  grid-area: active-cases;
}

.cases-1m {
  grid-area: cases-1m;
}

.deaths-1m {
  grid-area: deaths-1m;
}
